@import "global.css";

/* Fluid inline images
/* ---------------------------------------------------------- */

html.casper .post-full-content .kg-width-wide .gatsby-image-wrapper img {
    max-width: 1040px;
}

html.casper .post-full-content .kg-width-full .gatsby-image-wrapper img {
    max-width: 100vw;
}

html.casper .kg-bookmark-thumbnail .gatsby-image-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 0 3px 3px 0;
    object-fit: cover;
}
