@import "gatsby-theme-try-ghost/src/styles/global.css";

/* Table of Content Box
/* ---------------------------------------------------------- */

/* Need for sticky to work */
html.casper body {
    overflow: visible;
}

/* Adjust outer wrapper */
html.casper .post-full-content {
    display: block;
}

@media (min-width: 1170px) {
    html.casper .post-full-content {
        display: flex;
        align-items: flex-start;
    }
}

/* Adjust content wrapper */
html.casper .post-content {
    display: block;
    min-width: 100%;
}

/* Offset headings from fixed header */
html.casper .post-content h2::before,
html.casper .post-content h3::before,
html.casper .post-content h4::before,
html.casper .post-content h5::before,
html.casper .post-content h6::before {
    display: block;
    content: " ";
    height: 80px;
    margin-top: -80px;
    visibility: hidden;
}

/* Adjustments to wide and full width cards */
html.casper .post-full-content .kg-image {
    margin: 0;
}

html.casper .kg-gallery-card,
html.casper .kg-width-wide,
html.casper .kg-width-full {
    display: flex;
    flex-direction: column;
    align-items: center;
}

html.casper .kg-gallery-card > *,
html.casper .kg-width-wide > *,
html.casper .kg-width-full > *,
html.casper figure.kg-width-full:not(.fluid-image) img {
    margin-left: -50vw;
    margin-right: -50vw;
    z-index: 1;
}

/* Dark mode */
html.casper body.dark .post-full-content aside {
    color: #BBB;
    background: color(var(--darkgrey) alpha(0.6));
}
html.casper body.dark .post-full-content aside a {
    box-shadow: none;
}
